body {
    background: #555;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    background: teal;
}

#high-scores {
    cursor: pointer;
}

#quiz-container {
    max-width: 700px;
}

main p {
    max-width: 700px;
    margin: 0 auto;
}

.btn {
    background: teal;
}

ul {
    list-style-type: none;
}
